<body>

    <img src="/img/nature-image.jpg" width="500 px" height="250">
    
<div   class="p-3 mb-2 bg-secondary text-white">
    <h1>Nome do site: <%=siteName%></h1>
    <h2>Index: Guia perguntas</h2>
    <hr>
    <h3>Lista de Perguntas</h3> 

</div>
 
</body>